.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--background-color);
  z-index: 2;
}

.header #nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  margin: 0 auto;
  padding: 12px 20px 10px;
  max-width: 1920px;
}

.header #nav .logo {
  line-height: 1px;
}

.header #nav img {
  width: 122px;
  height: auto;
}

.header #nav .modal-open {
  color: #000;
}

.menu-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(1turn,#73dce1 22.98%,#0f88f6 41.83%,#000e34 72.46%);
  z-index: 100;
  opacity: 0;
  transition: opacity 300ms;
}

.menu-modal.show {
  opacity: 1;
}

.menu-modal ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 60px 0;
}

.menu-modal ul li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
}

.menu-modal .modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 12px 20px 10px; 
}

.menu-modal .modal-header .modal-close {
  color: #fff;
  text-decoration: none;
}

.menu-modal .modal-logo {
  width: 122px;
  height: auto;
}

.menu-modal .modal-body > div > p {
  display: flex;
  justify-content: center;
}

.menu-modal .modal-body > div > p a {
  margin-right: 50px;
}

.menu-modal .modal-header a:hover {
  text-decoration: none;
}

.menu-modal .modal-body > .social-buttons p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 55px;
  width: 75%;
  margin: 0 auto;
}

.menu-modal .modal-body > .social-buttons p a svg {
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  overflow: visible;
}

.header #nav a {
  text-decoration: none;
}

.header #nav a:hover {
  text-decoration: none;
}

@media (min-width: 900px) {
  .header #nav {
    height: var(--desktop-nav-height);
    padding: 0 80px 0 52px;
  }

  .header #nav img {
    width: 300px;
  }

  .header #nav .modal-open {
    font-size: 80px;
  }

  .menu-modal .modal-header {
    height: var(--desktop-nav-height);
    padding: 0 80px 0 52px;
  }

  .menu-modal .modal-header .modal-close {
    font-size: 70px;
  }

  .menu-modal .modal-logo {
    width: 300px;
  }

  .menu-modal ul {
    padding: 100px 0;
    margin: 0;
    gap: 10px;
  }

  .menu-modal ul li > a {
    font-size: 53px;
  }
}
