main .section.disclaimers-container {
  padding: 16px;
  margin: 0;
}

.disclaimers {
  background-color: #fff;
}

.section .disclaimers p {
  font-size: 10px;
  margin: 15px auto;
}

.disclaimers a {
  font-size: var(--body-font-size-xs);
}

@media (min-width: 900px) {
  .section .disclaimers p {
    max-width: 60%;
    margin: 20px auto;
    font-size: var(--body-font-size-xs);
  }
  
  .disclaimers a {
    font-size: var(--body-font-size-xs);
  }
}